# Node
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
*.sqlite3

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit
.streamlit/secrets.toml
sparkle_chat.txt

# dotenv
.env

# Jupyter
.ipynb_checkpoints/
